telethon
uvicorn==0.34.0
fastapi==0.115.6
beanie==1.25.0
google-generativeai==0.8.3
python-dotenv==1.0.0
PyJWT==2.10.1
python-multipart==0.0.20
requests
nest_asyncio
llama-index
llama-index-llms-gemini
python-telegram-bot
asyncio
aiohttp
llama-index-llms-anthropic
llama-index-llms-deepseek